.userHotelsBook {
  position: relative;

  .allHotels {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    padding: 50px;
    .bookHotelCard {
      background-color: white;
      height: -moz-fit-content;
      height: fit-content;
      width: -moz-fit-content;
      width: fit-content;
      padding: 20px;
      color: black;
      border-radius: 5px;
      font-family: lexend;
      box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.75);
      p {
        margin: 0;
        margin-bottom: 10px;
      }
      #userDashboard_hotel_name {
        font-size: 20px;
        font-weight: bold;
      }
      #userDashboard_hotel_location {
        font-size: 16px;
        font-weight: 600;
      }
      #userDashboard_hotel_contact {
        font-size: 14px;
        font-weight: 500;
      }
      #userDashboard_bookBtn {
        background: transparent;
        border: 1px solid #2c70c8;
        padding: 10px 40px;
        border-radius: 5px;
        font-size: 14px;
      }
      #userDashboard_bookBtn:hover {
        background-color: #2c70c8;
        color: white;
        cursor: pointer;
        transition: 0.3s ease-in-out;
      }
    }
  }
  #bookFormDiv {
    position: absolute;
    background-color: rgb(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    #bookHotel {
      font-family: lexend;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-bottom: 15px;
      background-color: #e2e2e2;
      border-radius: 5px;
      padding: 15px 30px;
      opacity: 0;
      transition: 0.3s ease-in-out;
      #bookFormTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
        span {
          text-align: center;
          font-size: 30px;
          font-weight: bold;
          font-family: Space Grotesk;
          color: #4691f2;
          width: 100%;
        }
        a {
          font-size: 16px;
          padding: 5px 10px;
          text-decoration: none;
          color: black;
          border-radius: 5px;
        }
        a:hover {
          color: white;
          background-color: #4691f2;
          transition: 0.2s ease-in-out;
        }
      }
      label {
        font-size: 18px;
      }
      input {
        border-radius: 10px;
        outline: none;
        border: 1px solid #009ee2;
        padding: 10px;
        width: 100%;
        font-size: 16px;
        line-height: 14px;
        font-weight: 500;
        font-family: Space Grotesk;
      }
      // .room_div{
      //     display: flex;
      //     align-items: center;
      //     justify-content: space-between;
      //     gap: 20px;
      // }
      button {
        padding: 15px 40px;
        color: white;
        font-size: 16px;
        line-height: 14px;
        font-weight: 700;
        background-color: #009ee2;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
