.container {
  display: flex;
  nav {
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    background-image: linear-gradient(
      180deg,
      #4691f2 0%,
      #4691f2 30%,
      #ffffff 60%,
      #ffffff 100%
    );
    .dashboard_logo {
      background-color: white;
      padding: 20px 50px;
    }
    .dashboard_links {
      display: flex;
      flex-direction: column;
      a {
        text-decoration: none;
        color: white;
        text-align: center;
        padding: 20px 20px 20px 50px;
        display: flex;
        gap: 10px;
        align-items: center;
        cursor: pointer;
        img{
          width: 20px;
          height: auto;
        }
        span {
          font-size: 16px;
          line-height: 16px;
          font-weight: 600;
          font-family: Space Grotesk;
        }
      }
      a:hover {
        transition: 0.4s ease-in-out;
        background-color: #2368c2;
      }
    }
  }

  .userEntries {
    display: flex;
    width: 100%;
    background-color: #F5F5F5;
    .userHotels {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 0;
      padding-left: 50px;
      margin-top: 10px;
      border-right: 2px solid #C4C4C4;
      padding-right: 50px;
      .dashboard_hotel_count_card{
        display: flex;
        align-items: center;
        gap: 20px;
        span {
          font-size: 30px;
          font-weight: bold;
          font-family: Space Grotesk;
          text-align: center;
          .dashboard_title{
            color: #4691f2;
            padding: 0;
            border-bottom: none;
          }
        }
        .dashboard_hotel_count{
          display: flex;
          align-items: center;
          gap: 50px;
          background-color: white;
          padding: 20px;
          border-radius: 20px;
          box-shadow: 0 0 15px 0px rgba(0,0,0,0.1);
          p{
            margin: 0;
            font-size: 10px;
            font-family: lexend;
            color: #667185;
          }
          #total_hotel_number{
            font-size: 25px;
            font-weight: 600;
            color: #09121E;
            margin-bottom: 10px;
          }
        }

      }
      .userHotelCard {
        display: flex;
        flex-direction: column;
        background-color: #E5F7FF;
        height: -moz-fit-content;
        height: fit-content;
        color: #023F76;
        font-family: lexend;
        box-shadow: 0 0 15px 0px rgba(0,0,0,0.1);
        padding: 0;
        border-radius: 25px;
        #adminDashboardHotelImg{
          width: 100%;
          height: 200px;
          img{
            border-radius: 25px 25px 0 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        #adminDashboardHotelInfo{
          padding: 20px;
          p{
            margin: 0;
            margin-bottom: 10px;
          }
          #dashboard_hotel_name{
            font-size: 20px;
            font-weight: bold;
          }
          #dashboard_location_name{
            font-size: 16px;
            font-weight: 600;
          }
          #dashboard_contact_name{
            font-size: 16px;
            font-weight: 500;
          }
          #dashboard_btn{
            display: flex;
            align-items: center;
            justify-content: space-around;
            button{
              background: transparent;
              border: 1px solid #2c70c8;
              padding: 10px 30px;
              border-radius: 5px;
              font-size: 14px;
            }
            button:hover{
              background: #2c70c8;
              color: white;
              cursor: pointer;
              transition: 0.2s ease-in-out;
            }
            #dashboard_deleteBtn{
              border: 1px solid #d51818;
            }
            #dashboard_deleteBtn:hover{
              background: #d51818;
            }
          }
        }
      }
      .userHotelCard:hover{
        border: 1px solid #7E7E7E;
        box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);
      }
    }
    .userFlights {
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 40px;
      padding: 0;
      padding-left: 50px;
      margin-top: 10px;
      // border-right: 2px solid #C4C4C4;
      padding-right: 50px;
      .dashboard_hotel_count_card{
        display: flex;
        align-items: center;
        gap: 20px;
        span {
          font-size: 30px;
          font-weight: bold;
          font-family: Space Grotesk;
          text-align: center;
          .dashboard_title{
            color: #4691f2;
            padding: 0;
            border-bottom: none;
          }
        }
        .dashboard_hotel_count{
          display: flex;
          align-items: center;
          gap: 50px;
          background-color: white;
          padding: 20px;
          border-radius: 20px;
          box-shadow: 0 0 15px 0px rgba(0,0,0,0.1);
          text-align: left;
          p{
            margin: 0;
            font-size: 10px;
            font-family: lexend;
            color: #667185;
          }
          #total_flight_number{
            font-size: 25px;
            font-weight: 600;
            color: #09121E;
            margin-bottom: 10px;
          }
        }

      }
      .userFlightCard {
        display: flex;
        flex-direction: column;
        background-color: #e5fffa;
        height: -moz-fit-content;
        height: fit-content;
        color: #023F76;
        border-radius: 25px;
        font-family: lexend;
        padding: 0;
        box-shadow: 0 0 15px 0px rgba(0,0,0,0.1);
        #adminDashboardFlightImg{
          width: 100%;
          height: 200px;
          img{
            border-radius: 25px 25px 0 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        #adminDashboardFlightInfo{
          padding: 20px;

          p{
            margin: 0;
            margin-bottom: 10px;
          }
          #dashboard_hotel_name{
            font-size: 20px;
            font-weight: bold;
          }
          .userFlightCardFlight{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-bottom: 10px;
            #dashboard_location_name{
              display: flex;
              flex-direction: column;
              align-items: center;
              font-size: 16px;
              font-weight: 600;
              span{
                font-size: 12px;
              }
            }
          }
          #dashboard_contact_name{
            font-size: 16px;
            font-weight: 500;
          }
          #dashboard_btn{
            display: flex;
            align-items: center;
            justify-content: space-around;
            button{
              background: transparent;
              border: 1px solid #2c70c8;
              padding: 10px 30px;
              border-radius: 5px;
              font-size: 14px;
            }
            button:hover{
              background: #2c70c8;
              color: white;
              cursor: pointer;
              transition: 0.2s ease-in-out;
            }
            #dashboard_deleteBtn{
              border: 1px solid #d51818;
            }
            #dashboard_deleteBtn:hover{
              background: #d51818;
            }
          }
        }
      }
      .userFlightCard:hover{
        border: 1px solid #7E7E7E;
        box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.25);
      }
    }
  }
  #hotelFormDiv {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    #updateHotel {
      font-family: lexend;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-bottom: 15px;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 15px 30px;
      opacity: 0;
      transition: 0.3s ease-in-out;
      #updateFormTop{
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
          text-align: center;
          font-size: 30px;
          font-weight: bold;
          font-family: Space Grotesk;
          color: #009EE2;
          width: 100%;
        }
        a{
          font-size: 16px;
          padding: 5px 10px;
          text-decoration: none;
          color: black;
          border-radius: 5px;
        }
        a:hover{
          color: white;
          background-color: #009EE2;
          transition: 0.2s ease-in-out;
        }
      }
      label{
        font-size: 18px;
      }
      
      input{
          border-radius: 10px;
          outline: none;
          border: 1px solid #ddd8d8;
          padding: 10px;
          width: 100%;
          font-size: 16px;
          line-height: 14px;
          font-weight: 500;
          font-family: Space Grotesk;
      }
      input:focus, input:hover{
        border: 1px solid #009ee2;
        transition: 0.5s ease-in-out;
    }
      .room_div{
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 20px;
      }
      button{
          padding: 15px 40px;
          color: white;
          font-size: 16px;
          line-height: 14px;
          font-weight: 700;
          background-color: #009EE2;
          border: none;
          border-radius: 5px;
          cursor: pointer;
      }
    }
  }

  #flightFormDiv {
    position: fixed;
    background-color: rgb(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    #updateFlight {
      font-family: lexend;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-bottom: 15px;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 15px 30px;
      opacity: 0;
      transition: 0.3s ease-in-out;
      #updateFormTop{
        display: flex;
        align-items: center;
        justify-content: space-between;
        span{
          text-align: center;
          font-size: 30px;
          font-weight: bold;
          font-family: Space Grotesk;
          color: #009EE2;
          width: 100%;
        }
        a{
          font-size: 16px;
          padding: 5px 10px;
          text-decoration: none;
          color: black;
          border-radius: 5px;
        }
        a:hover{
          color: white;
          background-color: #009EE2;
          transition: 0.2s ease-in-out;
        }
      }
      label{
        font-size: 18px;
      }
      input {
        border-radius: 10px;
        outline: none;
        border: 1px solid #ddd8d8;
        padding: 10px;
        width: 100%;
        font-size: 16px;
        line-height: 14px;
        font-weight: 500;
        font-family: Space Grotesk;
      }
      input:focus, input:hover{
        border: 1px solid #009ee2;
        transition: 0.5s ease-in-out;
    }
      .flight_div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
      }
      button {
        padding: 15px 40px;
        color: white;
        font-size: 16px;
        line-height: 14px;
        font-weight: 700;
        background-color: #009ee2;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
