<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Flights</title>
</head>

<body>
    <div class="booking_container">
        <div class="booking_container_left">
            <span>Wings to Wanderlust</span>
            <p>Up, Up, and Away: Embrace Our Latest Flight Offerings.</p>
        </div>
        <div class="booking_container_right">
            <span>Add New Flight</span>
            <form id="addFlightsForm">
                <label>Flight Name: <input type="text" id="flightname" name="flightname"></label>
                <div class="flight_div">
                    <label>Departure: <input type="text" id="flightdepart" name="flightdepart"></label>
                    <label>Destination: <input type="text" id="flightdest" name="flightdest"></label>
                </div>
                <div class="flight_div">
                    <label>Economy: <input type="number" id="economy" name="economy"></label>
                    <label>Economy Rate: <input type="number" id="economyrate" name="economyrate"></label>
                </div>
                <div class="flight_div">
                    <label>Business: <input type="number" id="business" name="business"></label>
                    <label>Business Rate: <input type="number" id="businessrate" name="businessrate"></label>
                </div>
                <label>Website: <input type="text" id="website" name="website"></label>
                <label>Email: <input type="email" id="email" name="email"></label>
                <label>Phone No: <input type="number" id="phoneno" name="phoneno"></label>
                <label>Image: <input type="file" id="image1" name="image1"></label>
                <button>Submit</button>
            </form>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            const userId = localStorage.getItem('userId');
            const role = localStorage.getItem('role');
            if (userId && role === "admin") {

                document.getElementById('addFlightsForm').addEventListener('submit', function (event) {
                    event.preventDefault(); // Prevent default form submission

                    // Get form data
                    const flightname = document.getElementById('flightname').value;
                    const flightdepart = document.getElementById('flightdepart').value;
                    const flightdest = document.getElementById('flightdest').value;
                    const economy = document.getElementById('economy').value;
                    const economyrate = document.getElementById('economyrate').value;
                    const business = document.getElementById('business').value;
                    const businessrate = document.getElementById('businessrate').value;
                    const website = document.getElementById('website').value;
                    const email = document.getElementById('email').value;
                    const phoneno = document.getElementById('phoneno').value;
                    const image1 = document.getElementById('image1').value;

                    // FORM VALIDATION IS NEEDED
                    const formData = {
                        userId: localStorage.getItem('userId'),
                        flightname: flightname,
                        flightdepart: flightdepart,
                        flightdest: flightdest,
                        economy: economy,
                        economyrate: economyrate,
                        business: business,
                        businessrate: businessrate,
                        website: website,
                        email: email,
                        phoneno: phoneno,
                        image1: image1,
                    };

                    // console.log(formData);

                    // Send form data using Axios
                    axios.post('http://localhost:8000/flights/addNew', formData)
                        .then(response => {
                            // console.log(response.status);
                            if (response.status === 200) {
                                alert("Flight registered successfully");
                                window.location.href = './adminDashBoard.html';
                            }

                        })
                        .catch(error => {
                            if (error.response.status === 422) {
                                // emailValidation.style.display = 'block';
                                // emailValidation.innerHTML = "Invalid Credentials"; 
                                alert("Enter form properly");
                            }
                        });
                });
            } else {
                window.location.href = './login.html';
            }
        </script>


</body>

</html>