<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotels</title>
    <link rel="stylesheet" href="../../style.css">
</head>

<body>
    <div class="booking_container">
        <div class="booking_container_left_hotel">
            <span>Unveiling Our Newest Addition</span>
            <p>Where Luxury Meets Hospitality: Discover Our Newest Haven.</p>
        </div>
        <div class="booking_container_right">
            <span>Add New Hotel</span>
            <form id="addHotelsForm">
                <label>Hotel Name: <input type="text" id="hotelname" name="hotelname"></label>
                <label>Location: <input type="text" id="location" name="location"></label>
                <label>Established: <input type="text" id="established" name="established"></label>
                <div class="room_div">
                    <label>Single Rooms: <input type="text" id="singleroom" name="singlerooms"></label>
                    <label>Single Room Rate: <input type="text" id="singleroomrate" name="singleroomrate"></label>
                </div>
                <div class="room_div">
                    <label>Double Rooms: <input type="text" id="doubleroom" name="doublerooms"></label>
                    <label>Double Room Rate: <input type="text" id="doubleroomrate" name="doubleroomrate"></label>
                </div>
                <div class="room_div">
                    <label>Suites: <input type="text" id="suite" name="suites"></label>
                    <label>Suite Rate: <input type="text" id="suiterate" name="suiterate"></label>
                </div>
                <label>Website: <input type="text" id="website" name="website"></label>
                <label>Email: <input type="email" id="email" name="email"></label>
                <label>Phone No: <input type="text" id="phoneno" name="phoneno"></label>
                <label>Image: <input type="file" id="image1" name="image1"></label>
                <button>Submit</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./adminHotels.js"></script>

</body>

</html>