<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../../style.css">

</head>

<body>
    <div class="container">
        <nav>
            <div class="dashboard_logo">
                <a href="../../index.html">
                    <img src="../../assets/img/logo.png" alt="GlobeTrotter">
                </a>
            </div>
            <div class="dashboard_links">
                <a href="./adminHotels.html"><img src="../../assets/img/dashboard_hotel.svg" alt=""><span>Add
                        Hotels</span></a>
                <a href="./adminFlights.html"><img src="../../assets/img/dashboard_plane_icon.png" alt=""><span>Add
                        Flights</span></a>
            </div>
        </nav>

        <div class="userEntries">
            <div class="userHotels">
                <div class="dashboard_hotel_count_card">
                    <span>My <span class="dashboard_title">Hotels</span></span>
                    <div class="dashboard_hotel_count">
                        <div class="dashboard_hotel_count_left">
                            <p id="total_hotel_number"></p>
                            <p>Hotels Added</p>
                        </div>
                        <div class="dashboard_hotel_count_icon">
                            <img src="../../assets/img/dashboard_calendar.png" alt="">
                        </div>
                    </div>
                </div>

                <!-- <div class="userHotelCard">
                    <div id="adminDashboardHotelImg">
                        <img src="../../images/hotels/1705153055380.jpg" alt="HotelImg">
                    </div>
                    <div id="adminDashboardHotelInfo">
                        <p id="dashboard_hotel_name">Hotel Name</p>
                        <p id="dashboard_location_name">Location</p>
                        <p id="dashboard_contact_name">Contact</p>
                        <div id="dashboard_btn">
                            <button>Update</button>
                            <button id="dashboard_deleteBtn">Delete</button>
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="userFlights">
                <div class="dashboard_hotel_count_card">
                    <span>My <span class="dashboard_title">Flights</span></span>
                    <div class="dashboard_hotel_count">
                        <div class="dashboard_hotel_count_left">
                            <p id="total_flight_number"></p>
                            <p>Flights Added</p>
                        </div>
                        <div class="dashboard_hotel_count_icon">
                            <img src="../../assets/img/dashboard_calendar.png" alt="">
                        </div>
                    </div>
                </div>

                <!-- <div class="userFlightCard">
                    <div id="adminDashboardFlightImg">
                        <img src="../../images/flights/1705154477553.webp" alt="FlightImg">
                    </div>
                    <div id="adminDashboardFlightInfo">
                        <p id="dashboard_hotel_name">Flight Name</p>
                        <div class="userFlightCardFlight">
                            <div id="dashboard_location_name">
                                Beijing
                                <span>Departure</span>
                            </div>
                            <img src="../../assets/img/dashboard_flight_journey.png" alt="">
                            <div id="dashboard_location_name">
                                Kathmandu
                                <span>Destination</span>
                            </div>                    </div>
                        <p id="dashboard_contact_name">Contact</p>
                        <div id="dashboard_btn">
                            <button>Update</button>
                            <button id="dashboard_deleteBtn">Delete</button>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>

        <div id="hotelFormDiv">
            <form id="updateHotel">
                <div id="updateFormTop">
                    <span>Update Hotel Details</span>
                    <a href="" onclick="hideHotelPopUp()">X</a>
                </div>
                <label>Hotel Name: <input type="text" id="hotelname" name="hotelname"></label>
                <label>Location: <input type="text" id="location" name="location"></label>
                <label>Established: <input type="text" id="established" name="established"></label>
                <div class="room_div">
                    <label>Single Rooms: <input type="text" id="singleroom" name="singlerooms"></label>
                    <label>Single Room Rate: <input type="text" id="singleroomrate" name="singleroomrate"></label>
                </div>
                <div class="room_div">
                    <label>Double Rooms: <input type="text" id="doubleroom" name="doublerooms"></label>
                    <label>Double Room Rate: <input type="text" id="doubleroomrate" name="doubleroomrate"></label>
                </div>
                <div class="room_div">
                    <label>Suites: <input type="text" id="suite" name="suites"></label>
                    <label>Suite Rate: <input type="text" id="suiterate" name="suiterate"></label>
                </div>
                <label>Website: <input type="text" id="website" name="website"></label>
                <label>Email: <input type="email" id="email" name="email"></label>
                <label>Phone No: <input type="text" id="phoneno" name="phoneno"></label>
                <label>Image: <input type="file" id="image1" name="image1"></label>
                <button>Submit</button>
            </form>
        </div>

        <div id="flightFormDiv">
            <form id="updateFlight">
                <div id="updateFormTop">
                    <span>Update Flight Details</span>
                    <a href="" onclick="hideFlightPopUp()">X</a>
                </div>
                <label>Flight Name: <input type="text" id="flightname" name="flightname"></label>
                <div class="flight_div">
                    <label>Departure: <input type="text" id="flightdepart" name="flightdepart"></label>
                    <label>Destination: <input type="text" id="flightdest" name="flightdest"></label>
                </div>
                <div class="flight_div">
                    <label>Economy: <input type="number" id="economy" name="economy"></label>
                    <label>Economy Rate: <input type="number" id="economyrate" name="economyrate"></label>
                </div>
                <div class="flight_div">
                    <label>Business: <input type="number" id="business" name="business"></label>
                    <label>Business Rate: <input type="number" id="businessrate" name="businessrate"></label>
                </div>
                <label>Website: <input type="text" id="flightwebsite" name="website"></label>
                <label>Email: <input type="email" id="flightemail" name="email"></label>
                <label>Phone No: <input type="number" id="flightphoneno" name="phoneno"></label>
                <label>Image: <input type="file" id="flightimage1" name="image1"></label>
                <button>Submit</button>
            </form>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./adminDashBoard.js"></script>

</body>

</html>