.signup_page {
  width: 100%;
  height: 100vh;
  display: flex;
  .left_signup_div {
    background-image: url("./assets/img/signup_travel.jpeg");
    background-size: auto 100%; /* 100% width and auto height */
    background-position: left center; /* Shift the background image to the left */
    background-repeat: no-repeat;
    width: 50%;

    .signup_info {
      padding: 75px 135px;
      text-align: center;
      .signup_info_up {
        font-family: Pacifico;
        font-size: 44px;
        line-height: 48px;
        color: white;
      }
      .signup_info_bottom {
        margin-top: 15px;
        font-family: Space Grotesk;
        font-size: 18px;
        font-weight: 600;
        color: white;
      }
    }
  }
  .right_signup_div {
    width: 50%;
    // position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    .right_signup_div_content {
      padding: 90px 200px;
      .right_signup_div_content_top {
        text-align: center;
        span {
          font-size: 74px;
          line-height: 48px;
          font-weight: 800;
          color: #009ee2;
          font-family: Lexend;
        }
        p {
          font-size: 18px;
          font-family: Mulish;
          font-weight: 600;
          color: #a5a5a5;
          margin-bottom: 30px;
        }
      }
      .right_signup_div_content_input {
        display: flex;
        flex-direction: column;
        gap: 25px;
        #right_signup_div_content_input_bar_user {
          display: flex;
          align-items: center;
          gap: 10px;
          input {
            padding: 18px 0 15px 10px;
          }
        }
        .right_signup_div_content_input_bar {
          position: relative;
          img {
            position: absolute;
            padding: 18px 0 15px 20px;
          }
          input {
            border-radius: 10px;
            outline: none;
            border: 2px solid #009ee2;
            padding: 15px 0 15px 50px;
            width: 100%;
            font-size: 18px;
            line-height: 18px;
            font-weight: 500;
            font-family: Space Grotesk;
          }
          input::placeholder {
            font-size: 18px;
            line-height: 18px;
            font-weight: 500;
            font-family: Space Grotesk;
            align-content: center;
          }
          span {
            font-size: 10px;
            font-weight: 600;
            color: #009ee2;
            font-family: Mulish;
            padding: 5px;
            position: absolute;
            top: -10px;
            left: 15px;
            background-color: white;
          }
        }
        .right_signup_div_content_input_bar_dropdown {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .signupform_right_select {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            label {
              text-align: center;
              font-size: 18px;
              line-height: 18px;
              font-family: Space Grotesk;
              font-weight: 600;
              color: #009ee2;
            }
            select {
              padding: 10px 50px 10px 10px;
              outline: none;
              border-radius: 5px;
              font-size: 18px;
              color: #656161;
              option {
                font-size: 18px;
                line-height: 18px;
                font-weight: 500;
                cursor: pointer;
                padding: 10px;
              }
            }
            select:hover {
              border: 2px solid #009ee2;
              cursor: pointer;
            }
          }
        }
        .signup_form_date {
          display: flex;
          align-items: center;
          gap: 10px;
          label {
            text-align: center;
            font-size: 18px;
            line-height: 18px;
            font-family: Space Grotesk;
            font-weight: 600;
            color: #009ee2;
          }
          input {
            padding: 10px;
            outline: none;
            border: none;
            font-size: 18px;
            border-radius: 5px;
            outline: none;
            color: #656161;
            border: 1px solid #656161;
          }
          input:hover {
            border: 2px solid #009ee2;
            cursor: pointer;
          }
        }
        .right_signup_div_content_forgot {
            display: flex;
            align-items: center;
            gap: 10px;
            span{
                font-size: 18px;
                line-height: 18px;
                font-family: Space Grotesk;
                font-weight: 600;
                color: #009ee2;
            }
        }
        #frontend_email_validation,#frontend_password_validation,#frontend_firstname_validation,
        #frontend_lastname_validation, #frontend_gender_validation, #frontend_role_validation,
        #frontend_birthday_validation {
          margin: 5px 0 0 5px;
          font-size: 12px;
          line-height: 12px;
          color: red;
          font-family: lexend;
          text-align: left;
          display: none;
      }
      }
      .right_signup_div_content_buttons {
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        // align-items: center;
        button {
          padding: 15px 40px;
          color: white;
          font-size: 14px;
          line-height: 18px;
          font-weight: 700;
          background-color: #009ee2;
          border: none;
          border-radius: 5px;
        }
        button:hover {
          cursor: pointer;
        }
        p {
          text-align: center;
          font-size: 14px;
          font-weight: 500;
          line-height: 18px;
          font-family: Mulish;
          span {
            font-weight: 600;
            a{
              color: #009ee2;  
            }
          }
          span:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
