<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Book Hotels</title>
</head>

<body>
    <div class="userHotelsBook">
        <div class="userHotel_filter_search">
            <div class="userHotel_filter_part">
                <form id="location_filter">
                    <label for="location_filter_option">Filter By Location:</label>
                    <select name="location_filter_option" id="location_filter_option">
                        <option value="#">--Any--</option>
                        <option value="kathmandu">Kathmandu</option>
                        <option value="london">London</option>
                        <option value="new york">New York</option>
                        <option value="sydney">Sydney</option>
                    </select>
                    <input type="text" name="search_filter" id="search_filter">
                    <button>Search</button>
                </form>
            </div>
        </div>
        <div class="allHotels">
            <!-- <div class="bookHotelCard">
            <p id="userDashboard_hotel_name">Hotel Name</p>
            <p id="userDashboard_hotel_location">Location</p>
            <p id="userDashboard_hotel_contact">Contact</p>
            <button id="userDashboard_bookBtn">Book</button>
        </div> -->
        </div>

        <div id="bookFormDiv">
            <form id="bookHotel">
                <div id="bookFormTop">
                    <span>Book Your Hotel</span>
                    <a href="" onclick="hideBookPopup()">X</a>
                </div>
                <label>Hotel Name: <input type="text" id="bookHotelName" name="bookHotelName" readonly></label>
                <label>Arrival Date: <input type="date" id="bookArrivalDate" name="bookArrivalDate"></label>
                <label for="bookRoomType">Select the room type:</label>
                <select id="bookRoomType" name="bookRoomType">
                    <option value="#">-- Select --</option>
                    <option value="single">Single Room</option>
                    <option value="double">Double Room</option>
                    <option value="suite">Suite</option>
                </select>
                <label>Room Rate: <input type="text" id="bookRoomRate" name="bookRoomRate" readonly></label>
                <label>Room Count: <input type="number" id="bookRoomCount" name="bookRoomCount"></label>
                <button>Submit</button>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function hideHotelPopUp() {
            const bookFormDiv = document.getElementById("bookFormDiv");
            bookFormDiv.style.visibility = 'hidden';
        }

        document.addEventListener('DOMContentLoaded', function () {
            const userId = localStorage.getItem('userId');
            const role = localStorage.getItem('role');

            // Make sure userId exists before sending the request
            if (userId && role === "traveller") {

                const searchData = ['all', 'all'];
                const concatenatedSearchData = searchData.join(',');
                axios.get(`http://localhost:8000/hotels/getAllFilter/${searchData}`)
                    .then(response => {
                        if (response.data.length === 0) {
                            console.log("There aren't any hotels");
                        } else {
                            const divContainer = document.querySelector('.allHotels');
                            divContainer.innerHTML = '';

                            response.data.forEach(item => {

                                const cardContainer = document.createElement('div');
                                cardContainer.setAttribute('class', 'bookHotelCard');

                                const itemElement1 = document.createElement('p');
                                itemElement1.setAttribute('id', 'userDashboard_hotel_name');
                                const itemElement2 = document.createElement('p');
                                itemElement2.setAttribute('id', 'userDashboard_hotel_location');
                                const itemElement3 = document.createElement('p');
                                itemElement3.setAttribute('id', 'userDashboard_hotel_contact');

                                const bookBtn = document.createElement('button');

                                // Set the hotelId as a data attribute for each button
                                bookBtn.setAttribute('bookId', item.id);
                                bookBtn.setAttribute('id', 'userDashboard_bookBtn');


                                itemElement1.textContent = `Hotel Name: ${(item.hotelname).toUpperCase()}`;
                                itemElement2.textContent = `Location: ${(item.location).toUpperCase()}`;
                                itemElement3.textContent = `Contact: ${item.phoneno}`;

                                bookBtn.textContent = 'Book';

                                cardContainer.appendChild(itemElement1);
                                cardContainer.appendChild(itemElement2);
                                cardContainer.appendChild(itemElement3);
                                cardContainer.appendChild(bookBtn);


                                divContainer.appendChild(cardContainer);

                            });
                        }
                    })
                    .catch(error => {
                        alert("There aren't any hotels");
                        window.location.href = "./userHotels.html";
                        console.log(error);
                    });

                document.getElementById('location_filter').addEventListener('submit', function (event) {
                    event.preventDefault();

                    const locationOption = document.getElementById('location_filter_option').value;
                    const searchOption = document.getElementById('search_filter').value;

                    const locationValue = (locationOption === '#') ? 'all' : (locationOption).toLowerCase();
                    const searchValue = (searchOption === '') ? 'all' : (searchOption).toLowerCase();


                    const searchData = [locationValue, searchValue];
                    const concatenatedSearchData = searchData.join(',');

                    // TO GET ALL THE USER CREATED HOTELS
                    axios.get(`http://localhost:8000/hotels/getAllFilter/${searchData}`)
                        .then(response => {
                            if (response.data.length === 0) {
                                console.log("There aren't any hotels");
                            } else {
                                const divContainer = document.querySelector('.allHotels');
                                divContainer.innerHTML = '';

                                response.data.forEach(item => {

                                    const cardContainer = document.createElement('div');
                                    cardContainer.setAttribute('class', 'bookHotelCard');

                                    const itemElement1 = document.createElement('p');
                                    itemElement1.setAttribute('id', 'userDashboard_hotel_name');
                                    const itemElement2 = document.createElement('p');
                                    itemElement2.setAttribute('id', 'userDashboard_hotel_location');
                                    const itemElement3 = document.createElement('p');
                                    itemElement3.setAttribute('id', 'userDashboard_hotel_contact');

                                    const bookBtn = document.createElement('button');

                                    // Set the hotelId as a data attribute for each button
                                    bookBtn.setAttribute('bookId', item.id);
                                    bookBtn.setAttribute('id', 'userDashboard_bookBtn');
                                    bookBtn.textContent = 'Book';


                                    itemElement1.textContent = `Hotel Name: ${(item.hotelname).toUpperCase()}`;
                                    itemElement2.textContent = `Location: ${(item.location).toUpperCase()}`;
                                    itemElement3.textContent = `Contact: ${item.phoneno}`;


                                    cardContainer.appendChild(itemElement1);
                                    cardContainer.appendChild(itemElement2);
                                    cardContainer.appendChild(itemElement3);
                                    cardContainer.appendChild(bookBtn);


                                    divContainer.appendChild(cardContainer);

                                    bookBtn.addEventListener('click', function () {

                                        const bookId = Number(this.getAttribute('bookId'));
                                        console.log('Book clicked for hotelId:', bookId);

                                        const bookFormDiv = document.getElementById("bookFormDiv");
                                        const bookForm = document.getElementById("bookHotel");
                                        bookFormDiv.style.visibility = 'visible';
                                        bookForm.style.opacity = "1";

                                        try {
                                            const selectedItem = response.data.find(item => item.id === bookId);
                                            document.getElementById('bookHotelName').value = selectedItem.hotelname;
                                            // document.getElementById('location').value = selectedItem.location;
                                            // document.getElementById('established').value = selectedItem.established;
                                            // document.getElementById('singleroom').value = selectedItem.singlerooms;
                                            // document.getElementById('singleroomrate').value = selectedItem.singleroomrate;
                                            // document.getElementById('doubleroom').value = selectedItem.doublerooms;
                                            // document.getElementById('doubleroomrate').value = selectedItem.doubleroomrate;
                                            // document.getElementById('suite').value = selectedItem.suites;
                                            // document.getElementById('suiterate').value = selectedItem.suiterate;
                                            // document.getElementById('website').value = selectedItem.website;
                                            // document.getElementById('email').value = selectedItem.email;
                                            // document.getElementById('phoneno').value = selectedItem.phoneno;

                                            updateForm.addEventListener('submit', function (event) {
                                                event.preventDefault(); // Prevent default form submission

                                                // Get form data
                                                const hotelname = document.getElementById('hotelname').value;
                                                const location = document.getElementById('location').value;
                                                const established = document.getElementById('established').value;
                                                const singleroom = document.getElementById('singleroom').value;
                                                const singleroomrate = document.getElementById('singleroomrate').value;
                                                const doubleroom = document.getElementById('doubleroom').value;
                                                const doubleroomrate = document.getElementById('doubleroomrate').value;
                                                const suite = document.getElementById('suite').value;
                                                const suiterate = document.getElementById('suiterate').value;
                                                const website = document.getElementById('website').value;
                                                const email = document.getElementById('email').value;
                                                const phoneno = document.getElementById('phoneno').value;
                                                const image1 = document.getElementById('image1').value;

                                                // FORM VALIDATION IS NEEDED
                                                const updatedHotelData = {
                                                    userId: localStorage.getItem('userId'),
                                                    hotelname: hotelname,
                                                    location: location,
                                                    established: established,
                                                    singleroom: singleroom,
                                                    singleroomrate: singleroomrate,
                                                    doubleroom: doubleroom,
                                                    doubleroomrate: doubleroomrate,
                                                    suite: suite,
                                                    suiterate: suiterate,
                                                    website: website,
                                                    email: email,
                                                    phoneno: phoneno,
                                                    image1: image1,
                                                    createdat: selectedItem.createdat,
                                                };

                                                // console.log(formData);

                                                // Send form data using Axios
                                                axios.put(`http://localhost:8000/hotels/update/${hotelId}`, updatedHotelData)
                                                    .then(response => {

                                                        if (response.status === 200) {
                                                            updateFormDiv.style.visibility = 'hidden';
                                                            updateForm.style.opacity = '0';
                                                            alert("Hotel updated successfully");
                                                            window.location.href = './adminDashBoard.html';
                                                        }
                                                    })
                                                    .catch(error => {
                                                        console.error('Error updating hotel:', error);
                                                        // Handle error while trying to update the hotel
                                                        if (error.response.status === 401) {
                                                            alert("Unauthorized request");
                                                        }
                                                    });
                                            });
                                        } catch (error) {
                                            updateFormDiv.style.visibility = 'hidden';
                                            updateForm.style.opacity = '0';
                                            alert("Unauthorized request");
                                            window.location.href = './adminDashBoard.html';
                                        }


                                    });


                                });
                            }
                        })
                        .catch(error => {
                            alert("There aren't any hotels");
                            window.location.href = "./userHotels.html";
                            console.log(error);
                        });
                });



            } else {
                localStorage.removeItem('userId');
                localStorage.removeItem('userName');
                localStorage.removeItem('role');
                window.location.href = '../login.html';
            }
        });


    </script>


</body>

</html>