<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Book Flights</title>
</head>

<body>
    <div class="userHotelsBook">


        <div class="userHotel_filter_search">
            <span>Book Your Flight</span>
            <div class="userHotel_filter_part">
                <form id="flight_filter">
                    <label for="flight_filter_option_dept">Filter By Departure:</label>
                    <select name="flight_filter_option_dept" id="flight_filter_option_dept">
                        <option value="#">--Any--</option>
                        <option value="kathmandu">Kathmandu</option>
                        <option value="london">London</option>
                        <option value="beijing">Beijing</option>
                    </select>

                    <label for="flight_filter_option_dest">Filter By Destination:</label>
                    <select name="flight_filter_option_dest" id="flight_filter_option_dest">
                        <option value="#">--Any--</option>
                        <option value="kathmandu">Kathmandu</option>
                        <option value="london">London</option>
                        <option value="beijing">Beijing</option>
                    </select>

                    <input type="text" name="search_filter" id="search_filter" placeholder="Search By Flight Name...">
                    <button>Search</button>
                </form>
            </div>
        </div>

        <div class="allHotels">

            <div class="userFlightCard">
                <div id="adminDashboardFlightImg">
                    <img src="../../images/flights/1705154477553.webp" alt="FlightImg">
                </div>
                <div id="adminDashboardFlightInfo">
                    <p id="dashboard_hotel_name">Flight Name</p>
                    <div class="userFlightCardFlight">
                        <div id="dashboard_location_name">
                            Beijing
                            <span>Departure</span>
                        </div>
                        <img src="../../assets/img/dashboard_flight_journey.png" alt="">
                        <div id="dashboard_location_name">
                            Kathmandu
                            <span>Destination</span>
                        </div>
                    </div>
                    <button>Book Now</button>
                </div>
            </div>


            <div class="userFlightCard">
                <div id="adminDashboardFlightImg">
                    <img src="../../images/flights/1705154477553.webp" alt="FlightImg">
                </div>
                <div id="adminDashboardFlightInfo">
                    <p id="dashboard_hotel_name">Flight Name</p>
                    <div class="userFlightCardFlight">
                        <div id="dashboard_location_name">
                            Beijing
                            <span>Departure</span>
                        </div>
                        <img src="../../assets/img/dashboard_flight_journey.png" alt="">
                        <div id="dashboard_location_name">
                            Kathmandu
                            <span>Destination</span>
                        </div>
                    </div>
                    <button>Book Now</button>
                </div>
            </div>
            <div class="userFlightCard">
                <div id="adminDashboardFlightImg">
                    <img src="../../images/flights/1705154477553.webp" alt="FlightImg">
                </div>
                <div id="adminDashboardFlightInfo">
                    <p id="dashboard_hotel_name">Flight Name</p>
                    <div class="userFlightCardFlight">
                        <div id="dashboard_location_name">
                            Beijing
                            <span>Departure</span>
                        </div>
                        <img src="../../assets/img/dashboard_flight_journey.png" alt="">
                        <div id="dashboard_location_name">
                            Kathmandu
                            <span>Destination</span>
                        </div>
                    </div>
                    <button>Book Now</button>
                </div>
            </div>
            <div class="userFlightCard">
                <div id="adminDashboardFlightImg">
                    <img src="../../images/flights/1705154477553.webp" alt="FlightImg">
                </div>
                <div id="adminDashboardFlightInfo">
                    <p id="dashboard_hotel_name">Flight Name</p>
                    <div class="userFlightCardFlight">
                        <div id="dashboard_location_name">
                            Beijing
                            <span>Departure</span>
                        </div>
                        <img src="../../assets/img/dashboard_flight_journey.png" alt="">
                        <div id="dashboard_location_name">
                            Kathmandu
                            <span>Destination</span>
                        </div>
                    </div>
                    <button>Book Now</button>
                </div>
            </div>
            <div class="userFlightCard">
                <div id="adminDashboardFlightImg">
                    <img src="../../images/flights/1705154477553.webp" alt="FlightImg">
                </div>
                <div id="adminDashboardFlightInfo">
                    <p id="dashboard_hotel_name">Flight Name</p>
                    <div class="userFlightCardFlight">
                        <div id="dashboard_location_name">
                            Beijing
                            <span>Departure</span>
                        </div>
                        <img src="../../assets/img/dashboard_flight_journey.png" alt="">
                        <div id="dashboard_location_name">
                            Kathmandu
                            <span>Destination</span>
                        </div>
                    </div>
                    <button>Book Now</button>
                </div>
            </div>
            <!-- <div class="userFlightCard">
                    <p id="dashboard_hotel_name">Flight Name</p>
                    <div class="userFlightCardFlight">
                        <div id="dashboard_location_name">
                            Beijing
                            <span>Departure</span>
                        </div>
                        <img src="../../assets/img/dashboard_flight_journey.png" alt="">
                        <div id="dashboard_location_name">
                            Kathmandu
                            <span>Destination</span>
                        </div>                    </div>
                    <p id="dashboard_contact_name">Contact</p>
                    <button>Book Now</button>
                </div> -->
        </div>

        <div id="bookFormDiv">
            <form id="bookFlight">
                <div id="bookFormTop">
                    <span>Book Your Flight</span>
                    <a href="" onclick="hideBookPopup()">X</a>
                </div>
                <label>Flight Name: <input type="text" id="bookFlightName" name="bookFlightName" readonly></label>
                <label>Departure Date: <input type="date" id="bookDeptDate" name="bookDeptDate"></label>
                <label for="bookSeatType">Select the seat type:</label>
                <select id="bookSeatType" name="bookSeatType">
                    <option value="#">-- Select --</option>
                    <option value="economy">Economy</option>
                    <option value="business">Business</option>
                </select>
                <label>Seat Rate (In $): <input type="text" id="bookSeatRate" name="bookSeatRate" readonly></label>
                <label>Seat Count: <input type="number" id="bookSeatCount" name="bookSeatCount"></label>
                <button>Submit</button>
            </form>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function hideHotelPopUp() {
            const bookFormDiv = document.getElementById("bookFormDiv");
            bookFormDiv.style.visibility = 'hidden';
        }

        document.addEventListener('DOMContentLoaded', function () {
            const userId = localStorage.getItem('userId');
            const role = localStorage.getItem('role');

            // Make sure userId exists before sending the request
            if (userId && role === "traveller") {

                const searchData = ['all', 'all', 'all'];
                const concatenatedSearchData = searchData.join(',');
                axios.get(`http://localhost:8000/flights/getAllFilter/${searchData}`)
                    .then(response => {

                        const divContainer = document.querySelector('.allHotels');
                        divContainer.innerHTML = '';

                        response.data.forEach(item => {

                            const cardContainer = document.createElement('div');
                            cardContainer.setAttribute('class', 'userFlightCard');

                            const imgContainer = document.createElement('div');
                            imgContainer.setAttribute('id', 'adminDashboardFlightImg');
                            const imgFlight = document.createElement('img');
                            imgFlight.src = `../../images/flights/${item.image1}`;
                            imgContainer.appendChild(imgFlight);

                                

                            const flightInfoContainer = document.createElement('div');
                            flightInfoContainer.setAttribute('id','adminDashboardFlightInfo')

                            const itemElement1 = document.createElement('p');
                            itemElement1.setAttribute('id', 'dashboard_hotel_name');

                            const itemElement2 = document.createElement('div');
                            itemElement2.setAttribute('class', 'userFlightCardFlight');
                            const itemElementfordept = document.createElement('div');
                            itemElementfordept.setAttribute('id', 'dashboard_location_name');
                            const itemElement2Inner1 = document.createElement('span');
                            itemElement2Inner1.textContent = 'Departure';
                            const imgElement = document.createElement("img");
                            imgElement.src = "../../assets/img/dashboard_flight_journey.png";
                            const itemElementfordest = document.createElement('div');
                            itemElementfordest.setAttribute('id', 'dashboard_location_name');
                            const itemElement2Inner2 = document.createElement('span');
                            itemElement2Inner2.textContent = 'Destination';

                            const itemElement4 = document.createElement('p');
                            itemElement4.setAttribute('id', 'dashboard_contact_name');

                            const bookBtn = document.createElement('button');

                            // Set the hotelId as a data attribute for each button
                            bookBtn.setAttribute('flightId', item.id);

                            itemElement1.textContent = `Flight Name: ${item.flightname}`;
                            itemElementfordept.textContent = `${item.flightdepart}`;
                            itemElementfordest.textContent = `${item.flightdest}`;
                            itemElement4.textContent = `Contact: ${item.phoneno}`;

                            bookBtn.textContent = 'Book Now';


                            itemElementfordept.append(itemElement2Inner1)
                            itemElementfordest.append(itemElement2Inner2)
                            itemElement2.append(itemElementfordept)
                            itemElement2.append(imgElement)
                            itemElement2.append(itemElementfordest)

                            flightInfoContainer.appendChild(itemElement1);
                            flightInfoContainer.appendChild(itemElement2);
                            flightInfoContainer.appendChild(itemElement4);
                            flightInfoContainer.appendChild(bookBtn);
                            
                            cardContainer.appendChild(imgContainer);
                            cardContainer.appendChild(flightInfoContainer)

                            divContainer.appendChild(cardContainer);


                            bookBtn.addEventListener('click', function () {

                                const bookId = Number(this.getAttribute('flightId'));
                                console.log('Book clicked for flightId:', bookId);

                                const bookFormDiv = document.getElementById("bookFormDiv");
                                const bookForm = document.getElementById("bookFlight");
                                bookFormDiv.style.visibility = 'visible';
                                bookForm.style.opacity = "1";

                                const selectedItem = response.data.find(item => item.id === bookId);
                                document.getElementById('bookFlightName').value = selectedItem.flightname;


                                document.getElementById('bookSeatType').addEventListener('change', function () {
                                    const selectedSeatType = this.value;
                                    const seatRate = () => {
                                        switch (selectedSeatType) {
                                            case 'economy': return selectedItem.economyrate;
                                            case 'business': return selectedItem.businessrate;
                                        }
                                    };
                                    document.getElementById('bookSeatRate').value = seatRate();
                                });

                                // SUBMIT THE FILLED HOTEL BOOKINGS FORM, CALL API ENDPOINT 
                                document.getElementById('bookFlight').addEventListener('submit', function (event) {
                                    event.preventDefault();
                                    // const hotelId = Number(this.getAttribute('bookid'));

                                    const userId = localStorage.getItem('userId');
                                    const flightname = document.getElementById('bookFlightName').value;
                                    const departureDate = document.getElementById('bookDeptDate').value;
                                    const seat_type = document.getElementById('bookSeatType').value;
                                    const seat_rate = document.getElementById('bookSeatRate').value;
                                    const seat_count = document.getElementById('bookSeatCount').value;

                                    const formData = {
                                        userId: userId,
                                        flightId: bookId,
                                        flightname: flightname,
                                        departureDate: departureDate,
                                        seat_type: seat_type,
                                        seat_rate: seat_rate,
                                        seat_count: seat_count,
                                    };
                                    // console.log(formData);
                                    axios.post('http://localhost:8000/book/bookNewFlight', formData)
                                        .then(response => {

                                            if (response.status === 200) {
                                                // console.log(response.data[0].id, response.data[0].firstname);
                                                alert("Flight booked successful");
                                                window.location.href = './userDashBoard.html'; // Replace '/dashboard' with your desired page
                                            } else {
                                                console.log(response);
                                            }
                                        })
                                        .catch(error => {
                                            console.log(error.response.status)
                                        });

                                });

                            })
                        })
                    })
                    .catch(error => { console.log(error) });

                document.getElementById('flight_filter').addEventListener('submit', function (event) {
                    event.preventDefault();

                    const deptOption = document.getElementById('flight_filter_option_dept').value;
                    const destOption = document.getElementById('flight_filter_option_dest').value;
                    const searchOption = document.getElementById('search_filter').value;

                    const deptValue = (deptOption === '#') ? 'all' : (deptOption).toLowerCase();
                    const destValue = (destOption === '#') ? 'all' : (destOption).toLowerCase();
                    const searchValue = (searchOption === '') ? 'all' : (searchOption).toLowerCase();


                    const searchData = [deptValue, destValue, searchValue];
                    const concatenatedSearchData = searchData.join(',');

                    axios.get(`http://localhost:8000/flights/getAllFilter/${searchData}`)
                        .then(response => {
                            const divContainer = document.querySelector('.allHotels');
                            divContainer.innerHTML = '';

                            response.data.forEach(item => {

                                const cardContainer = document.createElement('div');
                            cardContainer.setAttribute('class', 'userFlightCard');

                            const imgContainer = document.createElement('div');
                            imgContainer.setAttribute('id', 'adminDashboardFlightImg');
                            const imgFlight = document.createElement('img');
                            imgFlight.src = `../../images/flights/${item.image1}`;
                            imgContainer.appendChild(imgFlight);

                                

                            const flightInfoContainer = document.createElement('div');
                            flightInfoContainer.setAttribute('id','adminDashboardFlightInfo');

                            const itemElement1 = document.createElement('p');
                            itemElement1.setAttribute('id', 'dashboard_hotel_name');

                            const itemElement2 = document.createElement('div');
                            itemElement2.setAttribute('class', 'userFlightCardFlight');
                            const itemElementfordept = document.createElement('div');
                            itemElementfordept.setAttribute('id', 'dashboard_location_name');
                            const itemElement2Inner1 = document.createElement('span');
                            itemElement2Inner1.textContent = 'Departure';
                            const imgElement = document.createElement("img");
                            imgElement.src = "../../assets/img/dashboard_flight_journey.png";
                            const itemElementfordest = document.createElement('div');
                            itemElementfordest.setAttribute('id', 'dashboard_location_name');
                            const itemElement2Inner2 = document.createElement('span');
                            itemElement2Inner2.textContent = 'Destination';

                            const itemElement4 = document.createElement('p');
                            itemElement4.setAttribute('id', 'dashboard_contact_name');

                            const bookBtn = document.createElement('button');

                            // Set the hotelId as a data attribute for each button
                            bookBtn.setAttribute('flightId', item.id);

                            itemElement1.textContent = `Flight Name: ${item.flightname}`;
                            itemElementfordept.textContent = `${item.flightdepart}`;
                            itemElementfordest.textContent = `${item.flightdest}`;
                            itemElement4.textContent = `Contact: ${item.phoneno}`;

                            bookBtn.textContent = 'Book Now';


                            itemElementfordept.append(itemElement2Inner1)
                            itemElementfordest.append(itemElement2Inner2)
                            itemElement2.append(itemElementfordept)
                            itemElement2.append(imgElement)
                            itemElement2.append(itemElementfordest)

                            flightInfoContainer.appendChild(itemElement1);
                            flightInfoContainer.appendChild(itemElement2);
                            flightInfoContainer.appendChild(itemElement4);
                            flightInfoContainer.appendChild(bookBtn);
                            
                            cardContainer.appendChild(imgContainer);
                            cardContainer.appendChild(flightInfoContainer)

                            divContainer.appendChild(cardContainer);


                                bookBtn.addEventListener('click', function () {

                                    const bookId = Number(this.getAttribute('flightId'));
                                    console.log('Book clicked for flightId:', bookId);

                                    const bookFormDiv = document.getElementById("bookFormDiv");
                                    const bookForm = document.getElementById("bookFlight");
                                    bookFormDiv.style.visibility = 'visible';
                                    bookForm.style.opacity = "1";

                                    const selectedItem = response.data.find(item => item.id === bookId);
                                    document.getElementById('bookFlightName').value = selectedItem.flightname;


                                    document.getElementById('bookSeatType').addEventListener('change', function () {
                                        const selectedSeatType = this.value;
                                        const seatRate = () => {
                                            switch (selectedSeatType) {
                                                case 'economy': return selectedItem.economyrate;
                                                case 'business': return selectedItem.businessrate;
                                            }
                                        };
                                        document.getElementById('bookSeatRate').value = seatRate();
                                    });

                                    // SUBMIT THE FILLED HOTEL BOOKINGS FORM, CALL API ENDPOINT 
                                    document.getElementById('bookFlight').addEventListener('submit', function (event) {
                                        event.preventDefault();
                                        // const hotelId = Number(this.getAttribute('bookid'));

                                        const userId = localStorage.getItem('userId');
                                        const flightname = document.getElementById('bookFlightName').value;
                                        const departureDate = document.getElementById('bookDeptDate').value;
                                        const seat_type = document.getElementById('bookSeatType').value;
                                        const seat_rate = document.getElementById('bookSeatRate').value;
                                        const seat_count = document.getElementById('bookSeatCount').value;

                                        const formData = {
                                            userId: userId,
                                            flightId: bookId,
                                            flightname: flightname,
                                            departureDate: departureDate,
                                            seat_type: seat_type,
                                            seat_rate: seat_rate,
                                            seat_count: seat_count,
                                        };
                                        console.log(formData);
                                        axios.post('http://localhost:8000/book/bookNewFlight', formData)
                                            .then(response => {

                                                if (response.status === 200) {
                                                    // console.log(response.data[0].id, response.data[0].firstname);
                                                    alert("Flight booked successful");
                                                    window.location.href = './userDashBoard.html'; // Replace '/dashboard' with your desired page
                                                } else {
                                                    console.log(response);
                                                }
                                            })
                                            .catch(error => {
                                                console.log(error.response.status)
                                            });

                                    });

                                })
                            })

                        }).catch(error => {
                            alert("No flights found");
                            window.location.href = './userFlights.html'; // Replace '/dashboard' with your desired page

                        });
                })
            } else {
                localStorage.removeItem('userId');
                localStorage.removeItem('userName');
                localStorage.removeItem('role');
                window.location.href = '../login.html';
            }
        });


    </script>

</body>

</html>