<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Book Hotels</title>
</head>

<body>
    <div class="userHotelsBook">

        <div class="userHotel_filter_search">
            <span>Book Your Hotel</span>
            <div class="userHotel_filter_part">
                <form id="flight_filter">
                    <label for="location_filter_option">Filter By Location:</label>
                    <select name="location_filter_option" id="location_filter_option">
                        <option value="#">--Any--</option>
                        <option value="kathmandu">Kathmandu</option>
                        <option value="london">London</option>
                        <option value="new york">New York</option>
                        <option value="sydney">Sydney</option>
                    </select>
                    <input type="text" name="search_filter" id="search_filter" placeholder="Search By Hotel Name...">
                    <button>Search</button>
                </form>
            </div>
        </div>


        <div class="allFlights">
            <!-- <div class="userHotelCard">
                <div id="adminDashboardHotelImg">
                    <img src="../../images/hotels/1705153055380.jpg" alt="HotelImg">
                </div>
                <div id="adminDashboardHotelInfo">
                    <p id="dashboard_hotel_name">Hotel Name</p>
                    <p id="dashboard_location_name">Location</p>
                    <p id="dashboard_contact_name">Contact</p>
                    <button>Book Now</button>
                </div>
            </div> -->
        </div>


        <div id="bookFormDiv">
            <form id="bookHotel">
                <div id="bookFormTop">
                    <span>Book Your Hotel</span>
                    <a href="" onclick="hideBookPopup()">X</a>
                </div>
                <label>Hotel Name: <input type="text" id="bookHotelName" name="bookHotelName" readonly></label>
                <label>Arrival Date: <input type="date" id="bookArrivalDate" name="bookArrivalDate"></label>
                <label for="bookRoomType">Select the room type:</label>
                <select id="bookRoomType" name="bookRoomType">
                    <option value="#">-- Select --</option>
                    <option value="single">Single Room</option>
                    <option value="double">Double Room</option>
                    <option value="suite">Suite</option>
                </select>
                <label>Room Rate (In $/Night): <input type="text" id="bookRoomRate" name="bookRoomRate"
                        readonly></label>
                <label>Room Count: <input type="number" id="bookRoomCount" name="bookRoomCount"></label>
                <button>Submit</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./userHotels.js"></script>


</body>

</html>