<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Dashboard</title>
</head>

<body>
    <div class="container">

        <nav>
            <div class="dashboard_logo">
                <a href="../../index.html">
                    <img src="../../assets/img/logo.png" alt="GlobeTrotter">
                </a>
            </div>
            <div class="dashboard_links">
                <a href="./userHotels.html"><img src="../../assets/img/dashboard_hotel.svg" alt=""><span>Book
                        Hotels</span></a>
                <a href="./userFlights.html"><img src="../../assets/img/dashboard_plane_icon.png" alt=""><span>Book
                        Flights</span></a>
            </div>
        </nav>


        <div class="userEntries">

            <div class="userHotels">
                <div class="dashboard_hotel_count_card">
                    <span>My <span class="dashboard_title">Hotels</span></span>
                    <div class="dashboard_hotel_count">
                        <div class="dashboard_hotel_count_left">
                            <p id="total_hotel_number"></p>
                            <p>Hotels Booked</p>
                        </div>
                        <div class="dashboard_hotel_count_icon">
                            <img src="../../assets/img/dashboard_calendar.png" alt="">
                        </div>
                    </div>
                </div>

                <!-- <div class="userHotelCard">
                    <div id="userDashboardHotelImg">
                        <img src="../../images/hotels/1705153055380.jpg" alt="HotelImg">
                    </div>
                    <div id="userDashboardHotelInfo">
                        <p id="dashboard_hotel_name_user">Hotel Name:</p>
                        <p id="dashboard_location_name_user">Arrival Date</p>
                        <p id="dashboard_contact_name_user">Room Type:</p>
                        <div id="dashboard_btn">
                            <button>Update</button>
                            <button id="dashboard_deleteBtn">Delete</button>
                        </div>
                        <button id="downloadBtn">Download Itinerary</button>
                    </div>
                </div> -->

            </div>

            <div class="userFlights">
                <div class="dashboard_flight_count_card">
                    <span>My <span class="dashboard_title">Flights</span></span>
                    <div class="dashboard_flight_count">
                        <div class="dashboard_flight_count_left">
                            <p id="total_flight_number"></p>
                            <p>Flights Booked</p>
                        </div>
                        <div class="dashboard_flight_count_icon">
                            <img src="../../assets/img/dashboard_calendar.png" alt="">
                        </div>
                    </div>
                </div>

                <!-- <div class="userFlightCard">
                    <div id="adminDashboardFlightImg">
                        <img src="../../images/flights/1705154477553.webp" alt="FlightImg">
                    </div>
                    <div id="adminDashboardFlightInfo">
                        <p id="dashboard_hotel_name">Flight Name</p>
                        <div class="userFlightCardFlight">
                            <div id="dashboard_location_name">
                                Beijing
                                <span>Departure</span>
                            </div>
                            <img src="../../assets/img/dashboard_flight_journey.png" alt="">
                            <div id="dashboard_location_name">
                                Kathmandu
                                <span>Destination</span>
                            </div>                    
                        </div>
                        <p id="dashboard_departure_date">Departure Date</p>
                        <p id="dashboard_contact_name">Contact</p>
                        <div id="dashboard_btn">
                            <button>Update</button>
                            <button id="dashboard_deleteBtn">Delete</button>
                        </div>
                        <button id="downloadBtn">Download Itinerary</button>
                    </div>
                </div> -->

            </div>
        </div>

        <div id="bookFormDiv">
            <form id="bookHotel">
                <div id="bookFormTop">
                    <span>Update Your Hotel Booking</span>
                    <a href="" onclick="hideBookPopup()">X</a>
                </div>
                <label>Hotel Name: <input type="text" id="bookHotelName" name="bookHotelName" readonly></label>
                <label>Arrival Date: <input type="date" id="bookArrivalDate" name="bookArrivalDate"></label>
                <label for="bookRoomType">Select the room type:</label>
                <select id="bookRoomType" name="bookRoomType">
                    <option value="#">-- Select --</option>
                    <option value="single">Single Room</option>
                    <option value="double">Double Room</option>
                    <option value="suite">Suite</option>
                </select>
                <label>Room Rate (In $/Night): <input type="text" id="bookRoomRate" name="bookRoomRate"
                        readonly></label>
                <label>Room Count: <input type="number" id="bookRoomCount" name="bookRoomCount"></label>
                <button>Submit</button>
            </form>
        </div>

        <div id="bookFlightFormDiv">
            <form id="bookFlight">
                <div id="bookFormTop">
                    <span>Update Your Flight Booking</span>
                    <a href="" onclick="hideBookPopup()">X</a>
                </div>
                <label>Flight Name: <input type="text" id="bookFlightName" name="bookFlightName" readonly></label>
                <label>Departure Date: <input type="date" id="bookDeptDate" name="bookDeptDate"></label>
                <label for="bookSeatType">Select the seat type:</label>
                <select id="bookSeatType" name="bookSeatType">
                    <option value="#">-- Select --</option>
                    <option value="economy">Economy</option>
                    <option value="business">Business</option>
                </select>
                <label>Seat Rate (In $): <input type="text" id="bookSeatRate" name="bookSeatRate" readonly></label>
                <label>Seat Count: <input type="number" id="bookSeatCount" name="bookSeatCount"></label>
                <button>Submit</button>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./userDashBoard.js"></script>

</body>

</html>