<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style.css">
    <title>Book Flights</title>
</head>

<body>
    <div class="userHotelsBook">


        <div class="userHotel_filter_search">
            <span>Book Your Flight</span>
            <div class="userHotel_filter_part">
                <form id="flight_filter">
                    <label for="flight_filter_option_dept">Filter By Departure:</label>
                    <select name="flight_filter_option_dept" id="flight_filter_option_dept">
                        <option value="#">--Any--</option>
                        <option value="kathmandu">Kathmandu</option>
                        <option value="london">London</option>
                        <option value="beijing">Beijing</option>
                    </select>

                    <label for="flight_filter_option_dest">Filter By Destination:</label>
                    <select name="flight_filter_option_dest" id="flight_filter_option_dest">
                        <option value="#">--Any--</option>
                        <option value="kathmandu">Kathmandu</option>
                        <option value="london">London</option>
                        <option value="beijing">Beijing</option>
                    </select>

                    <input type="text" name="search_filter" id="search_filter" placeholder="Search By Flight Name...">
                    <button>Search</button>
                </form>
            </div>
        </div>

        <div class="allHotels">

            <!-- <div class="userFlightCard">
                <div id="adminDashboardFlightImg">
                    <img src="../../images/flights/1705154477553.webp" alt="FlightImg">
                </div>
                <div id="adminDashboardFlightInfo">
                    <p id="dashboard_hotel_name">Flight Name</p>
                    <div class="userFlightCardFlight">
                        <div id="dashboard_location_name">
                            Beijing
                            <span>Departure</span>
                        </div>
                        <img src="../../assets/img/dashboard_flight_journey.png" alt="">
                        <div id="dashboard_location_name">
                            Kathmandu
                            <span>Destination</span>
                        </div>
                    </div>
                    <button>Book Now</button>
                </div>
            </div> -->
        </div>

        <div id="bookFormDiv">
            <form id="bookFlight">
                <div id="bookFormTop">
                    <span>Book Your Flight</span>
                    <a href="" onclick="hideBookPopup()">X</a>
                </div>
                <label>Flight Name: <input type="text" id="bookFlightName" name="bookFlightName" readonly></label>
                <label>Departure Date: <input type="date" id="bookDeptDate" name="bookDeptDate"></label>
                <label for="bookSeatType">Select the seat type:</label>
                <select id="bookSeatType" name="bookSeatType">
                    <option value="#">-- Select --</option>
                    <option value="economy">Economy</option>
                    <option value="business">Business</option>
                </select>
                <label>Seat Rate (In $): <input type="text" id="bookSeatRate" name="bookSeatRate" readonly></label>
                <label>Seat Count: <input type="number" id="bookSeatCount" name="bookSeatCount"></label>
                <button>Submit</button>
            </form>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./userFlights.js"></script>

</body>

</html>